@model IEnumerable<Acme1.Models.ViewModels.Cartvm1>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagefile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagefile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@

<script>
    function fsubmit(udaction, qty, prodid) {
        document.getElementsByName('action')[0].value = udaction;
        document.getElementsByName('prodid')[0].value = document.getElementsByName(prodid)[0].value;
        document.getElementsByName('qty')[0].value = document.getElementsByName(qty)[0].value;
        if (udaction == "update") {
            var rx = new RegExp("^(([1-9])|([1-9][0-9]))$");
            strval = document.getElementsByName(qty)[0].value;
            if (!rx.test(strval)) alert('Quantity is not valid')
            else document.forms[0].submit();
        }
        else if (confirm('Do you wish to Delete ?'))
            document.forms[0].submit();
    }
</script>
@using (Html.BeginForm())
{
    <br />
    <input type="hidden" name="action" value="none" />
    <input type="hidden" name="cartid" value="100" />
    <input type="hidden" name="prodid" value="" />
    <input type="hidden" name="qty" value="" />

    int x = 0;
    string qty = "";
    string prodid = "";
    foreach (var item in Model)
    {
        x = x + 1;
        qty = "qty_" + @x;
        prodid = "prod_" + @x;
        <input type="hidden" name="@prodid" value="@item.ProductID" />
        @Html.ActionLink(@item.Name, "Order", new { id = @item.ProductID })<br />
        <input maxlength="2" size="2" name="@qty" type="text"
               value="@item.Quantity" />
        <a href='javascript:fsubmit("update", "@qty", "@prodid");'>Update</a>
        <a href='javascript:fsubmit("delete", "@qty", "@prodid");'>Delete</a><br /><br />
    } @*for each*@
}@* end of BeginForm*@
