@model IEnumerable<Acme1.Models.ViewModels.Cartvm1>

@{
    ViewBag.Title = "Cart";
}

<h2>My Cart</h2>

<script>
    function fsubmit(udaction, qty, prodid) {
        document.getElementsByName('action')[0].value = udaction;
        document.getElementsByName('prodid')[0].value = document.getElementsByName(prodid)[0].value;
        document.getElementsByName('qty')[0].value = document.getElementsByName(qty)[0].value;
        if (udaction == "update") {
            var rx = new RegExp("^(([1-9])|([1-9][0-9]))$");
            strval = document.getElementsByName(qty)[0].value;
            if (!rx.test(strval)) alert('Quantity is not valid')
            else document.forms[0].submit();
        }
        else if (confirm('Do you wish to Delete ?'))
            document.forms[0].submit();
    }
</script>
<table>
    @using (Html.BeginForm())
    {

        <input type="hidden" name="action" value="none" />
        <input type="hidden" name="cartid" value="100" />
        <input type="hidden" name="prodid" value="" />
        <input type="hidden" name="qty" value="" />

        int x = 0;
        string qty = "";
        string prodid = "";
        decimal lineItemTotal = 0;

        foreach (var item in Model)
        {
            x = x + 1;
            qty = "qty_" + @x;
            prodid = "prod_" + @x;
            lineItemTotal = @item.Quantity * @item.UnitPrice;

            <tr>
                <input type="hidden" name="@prodid" value="@item.ProductID" />
                <td>
                    <img src="~/Content/Images/Products/@Html.DisplayFor(modelItem => item.Imagefile)" class="img-products-index" />
                </td>
                <td class="wide" style="width: 650px;">
                    Product ID: @Html.DisplayFor(modelItem => item.ProductID)
                    <br />
                    Product Name: @Html.DisplayFor(modelItem => item.Name)
                    <br />
                    Description: @Html.DisplayFor(modelItem => item.ShortDescription)
                    <br />
                    Price: @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>

                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>*@
                <td style="width: 150px;">
                    <input maxlength="2" size="2" name="@qty" type="text" value="@item.Quantity" />
                    @*@Html.ActionLink(@item.Name, "Order", new { id = @item.ProductID })*@
                    <a href='javascript:fsubmit("update", "@qty", "@prodid");'>Update</a>
                    <a href='javascript:fsubmit("delete", "@qty", "@prodid");'>Delete</a>
                </td>
                <td style="width: 150px;">
                    Line Item Total: $@lineItemTotal
                </td>

            </tr>


        } @* end for each*@

    }@* end of BeginForm*@
</table>
