@model IEnumerable<Acme1.Models.ViewModels.Cartvm1>

@{
    ViewBag.Title = "Cart";
}

<h2>My Cart</h2>

<script>
    function fsubmit(udaction, qty, prodid) {
        document.getElementsByName('action')[0].value = udaction;
        document.getElementsByName('prodid')[0].value = document.getElementsByName(prodid)[0].value;
        document.getElementsByName('qty')[0].value = document.getElementsByName(qty)[0].value;
        if (udaction == "update") {
            var rx = new RegExp("^(([1-9])|([1-9][0-9]))$");
            strval = document.getElementsByName(qty)[0].value;
            if (!rx.test(strval)) alert('Quantity is not valid')
            else document.forms[0].submit();
        }
        else if (confirm('Do you wish to Delete ?'))
            document.forms[0].submit();
    }
</script>
<div class="cartContents">
    @using (Html.BeginForm())
    {

        <input type="hidden" name="action" value="none" />
        <input type="hidden" name="cartid" value="100" />
        <input type="hidden" name="prodid" value="" />
        <input type="hidden" name="qty" value="" />

        int x = 0;
        string qty = "";
        string prodid = "";
        decimal lineItemTotal = 0;
        decimal grandTotal = 0;


        foreach (var item in Model)
        {
            x = x + 1;
            qty = "qty_" + @x;
            prodid = "prod_" + @x;
            lineItemTotal = @item.Quantity * @item.UnitPrice;
            <hr />

            <div class="row">
                <input type="hidden" name="@prodid" value="@item.ProductID" />
                <div class="col-md-2">
                    <img src="~/Content/Images/Products/@Html.DisplayFor(modelItem => item.Imagefile)" class="img-products-index" />
                </div>
                <div class="col-md-6">
                    Product ID: @Html.DisplayFor(modelItem => item.ProductID)
                    <br />
                    Product Name: @Html.DisplayFor(modelItem => item.Name)
                    <br />
                    Description: @Html.DisplayFor(modelItem => item.ShortDescription)
                    <br />
                    Price: @Html.DisplayFor(modelItem => item.UnitPrice)
                </div>
                <div class="col-md-2">
                    <input maxlength="2" size="2" name="@qty" type="text" value="@item.Quantity" />
                    <a href='javascript:fsubmit("update", "@qty", "@prodid");'>Update</a>
                    <a href='javascript:fsubmit("delete", "@qty", "@prodid");'>Delete</a>
                </div>
                <div class="col-md-2">
                    Line Total: $@lineItemTotal
                </div>

            </div>
            { grandTotal += lineItemTotal; }

            } @* end for each*@
            <div class="clearfix"></div>
            if (grandTotal > 0)
            {
                <hr />
            }
            <div class="row">
                @if (grandTotal > 0)
                {
                    <div class="pull-right" style="margin-right: 66px;">
                        <p>Grand Total: $@grandTotal</p>
                    </div>
                }
            </div>

    }@* end of BeginForm*@
</div>
